/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 FOOTER
6.0 HEADER
7.0 POPUP
8.0 MAIN STYLE
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: 4vw;
    line-height: 3.5vh;
    @media (min-width: $xs) {
        font-size: 3vw;
        line-height: 2.5vh;
    }
    @media (min-width: $sm) {
        font-size: 2.5vw;
        line-height: 2.5vh;
    }
    @media (min-width: $md) {
        font-size: 14px;
        line-height: 18px;
    }
}

.inner-wrapper {
    @media (min-width: $sm) {}
    @media (min-width: $md) {}
}

.container {
    padding: 0 20px;
    @media (min-width: $xs) {
        padding: 0 25px;
    }
    @media (min-width: $md) {
        padding: 0 50px;
    }
    @media (min-width: $lg) {
        padding: 0 5%;
    }
    @media (min-width: $xlg) {
        padding: 0 10%;
    }
}


/*--------------------------------------------------------------
5.0 footer
--------------------------------------------------------------*/

@import 'sass/footer';

/*--------------------------------------------------------------
6.0 header
--------------------------------------------------------------*/

@import 'sass/header';

/*--------------------------------------------------------------
7.0 POPUP
--------------------------------------------------------------*/

@import 'sass/popup';

/*--------------------------------------------------------------
8.0 MAIN STYLE
--------------------------------------------------------------*/

@import 'sass/main';