@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 FOOTER
6.0 HEADER
7.0 POPUP
8.0 MAIN STYLE
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/*para ocultar texto y que lo lean los lectores de no videntes*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*para eliminar los float*/
header, section, footer, aside {
  clear: both; }

/*imagen al 100% de ancho responsive*/
.image-responsive {
  width: 100%;
  height: auto; }

/*input al 100%*/
input, select {
  display: block;
  width: 100%; }

/*elimina el diseño por defecto en el iphone*/
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

button {
  border: none;
  background-color: transparent; }

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/
@font-face {
  font-family: 'NB International Pro';
  src: local("NB International Pro"), url("../fonts/nbinternationalpro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NB International Pro Light';
  src: local("NB International Pro Light"), url("../fonts/nbinternationalpro-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
/*@font-face {
    font-family: 'NB International Pro Mono';
    src: local('NB International Pro Mono'),
         url('../fonts/nbinternationalpro-monospaced.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'Champagne & Limousines';
  src: local("Champagne & Limousines"), url("../fonts/champagne&limousines.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Champagne & Limousines Italic';
  src: local("Champagne & Limousines Italic"), url("../fonts/champagne&limousinesitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Champagne & Limousines Bold';
  src: local("Champagne & Limousines Bold Italic"), url("../fonts/champagne&limousinesbold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Champagne & Limousines Bold Italic';
  src: local("Champagne & Limousines Bold Italic"), url("../fonts/champagne&limousines-bold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
/*@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro'),
         url('../fonts/myriadpro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/
/*FUENTES*/
/*COLORES*/
/*GRID OPTIONS*/
/*
@media (min-width: $md) {}
-webkit-
-moz-
-ms-
-o-

display: flex;
display: -o-flex;
display: -ms-flex;
display: -moz-flex;
display: -webkit-flex;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
-o-justify-content: center;
justify-content: center;


&:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
*/
/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/
html, body {
  font-family: "NB International Pro", sans-serif;
  color: #625e59;
  background-color: #fff;
  font-size: 4vw;
  line-height: 3.5vh; }
  @media (min-width: 576px) {
    html, body {
      font-size: 3vw;
      line-height: 2.5vh; } }
  @media (min-width: 767px) {
    html, body {
      font-size: 2.5vw;
      line-height: 2.5vh; } }
  @media (min-width: 992px) {
    html, body {
      font-size: 14px;
      line-height: 18px; } }

.container {
  padding: 0 25px; }

/*--------------------------------------------------------------
5.0 footer
--------------------------------------------------------------*/
footer {
  position: relative; }

#socios {
  position: relative;
  padding: 80px 0 100px; }
  #socios img {
    display: block;
    width: 80%;
    margin: 50px auto 50px; }
    @media (min-width: 576px) {
      #socios img {
        width: 60%; } }

.go-up {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(../images/sprite.png) no-repeat;
  background-position: -61px -145px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .go-up:hover {
    background-position: -111px -145px; }

#legales {
  padding: 20px 0;
  color: #fff;
  background-color: #9b9b9b; }
  #legales img {
    display: block;
    width: 70%;
    margin: 0px auto; }
    @media (min-width: 576px) {
      #legales img {
        width: 50%;
        max-width: 255px; } }
    @media (min-width: 992px) {
      #legales img {
        width: 30%; } }
  #legales p {
    margin: 15px 0;
    font-size: 75%;
    text-align: center; }
    @media (min-width: 576px) {
      #legales p {
        font-size: 60%; } }
    @media (min-width: 992px) {
      #legales p {
        font-size: 80%; } }

.hit-legales {
  color: #fff;
  background-color: #292929;
  text-align: center;
  font-size: 100%;
  padding: 15px 0; }
  .hit-legales a {
    position: relative; }
    .hit-legales a img {
      vertical-align: bottom;
      width: 20px; }
      @media (max-width: 992px) {
        .hit-legales a img {
          width: 30px; } }
    @media (min-width: 992px) {
      .hit-legales a:hover:before {
        content: "Design and development";
        position: absolute;
        text-transform: uppercase;
        display: inline-block;
        line-height: 170%;
        left: -265px;
        top: -6px;
        width: 268px;
        font-size: 85%; } }
    @media (min-width: 992px) {
      .hit-legales a:hover:after {
        content: "";
        display: inline-block;
        position: absolute;
        font-size: 100%;
        background: url(../images/logo-hit-fuente.png) no-repeat;
        background-size: cover;
        top: -3px;
        right: -50px;
        width: 29px;
        height: 16px; } }
    .hit-legales a:before {
      content: "Design and development";
      position: absolute;
      text-transform: uppercase;
      display: inline-block;
      left: -177px;
      top: -8px;
      width: 196px;
      font-size: 60%;
      line-height: 170%;
      opacity: 0.7; }
      @media (min-width: 767px) {
        .hit-legales a:before {
          left: -243px;
          width: 228px;
          opacity: 1; } }
      @media (min-width: 992px) {
        .hit-legales a:before {
          content: none; } }
    .hit-legales a:after {
      display: inline-block;
      position: absolute;
      content: "";
      top: -9px;
      right: -53px;
      width: 32px;
      height: 15px;
      font-size: 100%;
      background: url(../images/logo-hit-fuente.png) no-repeat;
      background-size: cover;
      opacity: 0.8; }
      @media (min-width: 767px) {
        .hit-legales a:after {
          top: -5px;
          right: -66px;
          width: 36px;
          height: 18px; } }
      @media (min-width: 992px) {
        .hit-legales a:after {
          content: none; } }

/*--------------------------------------------------------------
6.0 header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
7.0 POPUP
--------------------------------------------------------------*/
.popup {
  position: fixed;
  z-index: 111111;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .popup div {
    position: relative; }
  .popup img {
    width: 100%;
    max-width: 768px;
    display: none; }

.close-popup {
  display: block;
  position: absolute;
  z-index: 1111;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: url(../images/sprite.png);
  background-position: -440px -551px;
  cursor: pointer; }
  .close-popup:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }

.cerrar-popup {
  width: 100px;
  border: 1px solid #808080;
  background-color: transparent;
  color: #808080;
  display: block;
  font-size: 80%;
  padding: 5px;
  text-transform: uppercase;
  margin: 10px 0;
  cursor: pointer; }
  .cerrar-popup:hover {
    color: #fff;
    border-color: #fff; }

.popup-active {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }

/*--------------------------------------------------------------
8.0 MAIN STYLE
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 GENERAL
--------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */
