//animaciones por clase in-view
.paquete-menos18.in-view .paquete-hover {
	animation-name: fade-in-scroll;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}

@keyframes fade-in-scroll {
	from {opacity: 0;}
	to {opacity: 1;}
}

.paquete-menos18.in-view .paquete-botones {
	animation-name: translateX-50;
	opacity: 0;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes translateX-50 {
	from {transform:translateX(50%);opacity: 0;}
	to {transform:translateX(0%);opacity: 1;}
}


//animaciones por clase hover-animation
.paquete-hover.hover-animation .paquete-botones {
	opacity: 0;
	animation-name: translateX-20;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes translateX-20 {
	from {transform:translateX(20%);opacity: 0;}
	to {transform:translateX(0%);opacity: 1;}
}