@font-face {
    font-family: 'NB International Pro';
    src: url('../fonts/nbinternationalpro-regular.eot');
    src: url('../fonts/nbinternationalpro-regular.WOFF') format('woff'),
        url('../fonts/nbinternationalpro-regular.ttf') format('truetype'),
        url('../fonts/nbinternationalpro-regular.svg') format('svg');
    /*src: local('NB International Pro'),
         url('../fonts/nbinternationalpro-regular.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NB International Pro Light';
    src: url('../fonts/nbinternationalpro-light.eot');
    src: url('../fonts/nbinternationalpro-light.WOFF') format('woff'),
        url('../fonts/nbinternationalpro-light.ttf') format('truetype'),
        url('../fonts/nbinternationalpro-light.svg') format('svg');
    /*src: local('NB International Pro Light'),
    url('../fonts/nbinternationalpro-light.ttf') format('truetype');*/
    font-weight: light;
    font-style: normal;
}


//MONOSPACED
@font-face {
    font-family: 'NB International Pro Mono';
    src: url('../fonts/nbinternationalpro-monospaced.eot');
    src: url('../fonts/nbinternationalpro-monospaced.WOFF') format('woff'),
        url('../fonts/nbinternationalpro-monospaced.ttf') format('truetype'),
        url('../fonts/nbinternationalpro-monospaced.svg') format('svg');
    /*src: local('NB International Pro Mono'),
         url('../fonts/nbinternationalpro-monospaced.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

//FUENTE TITULOS
@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../fonts/champagne&limousines.eot');
    src: url('../fonts/champagne&limousines.WOFF') format('woff'),
        url('../fonts/champagne&limousines.ttf') format('truetype'),
        url('../fonts/champagne&limousines.svg') format('svg');
    /*src: local('Champagne & Limousines'),
         url('../fonts/champagne&limousines.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne & Limousines Italic';
    src: url('../fonts/champagne&limousinesitalic.eot');
    src: url('../fonts/champagne&limousinesitalic.WOFF') format('woff'),
        url('../fonts/champagne&limousinesitalic.ttf') format('truetype'),
        url('../fonts/champagne&limousinesitalic.svg') format('svg');
    /*src: local('Champagne & Limousines Italic'),
         url('../fonts/champagne&limousinesitalic.ttf') format('truetype');*/
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Champagne & Limousines Bold';
    src: url('../fonts/champagne&limousinesbold.eot');
    src: url('../fonts/champagne&limousinesbold.WOFF') format('woff'),
        url('../fonts/champagne&limousinesbold.ttf') format('truetype'),
        url('../fonts/champagne&limousinesbold.svg') format('svg');
    /*src: local('Champagne & Limousines Bold Italic'),
         url('../fonts/champagne&limousinesbold.ttf') format('truetype');*/
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne & Limousines Bold Italic';
    src: url('../fonts/champagne&limousines-bold-italic.eot');
    src: url('../fonts/champagne&limousines-bold-italic.WOFF') format('woff'),
        url('../fonts/champagne&limousines-bold-italic.ttf') format('truetype'),
        url('../fonts/champagne&limousines-bold-italic.svg') format('svg');
    /*src: local('Champagne & Limousines Bold Italic'),
         url('../fonts/champagne&limousines-bold-italic.ttf') format('truetype');*/
    font-weight: bold;
    font-style: italic;
}


//FUENTE SEGUNDA
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriadpro-regular.eot');
    src: url('../fonts/myriadpro-regular.WOFF') format('woff'),
        url('../fonts/myriadpro-regular.ttf') format('truetype'),
        url('../fonts/myriadpro-regular.svg') format('svg');
    /*src: url('../fonts/myriadpro-regular.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}