// FONT TYPE DEFINITIONS
@font-face {
    font-family: 'arialbold';
    src: url('../fonts/arial_bold-webfont.woff2') format('woff2'),
         url('../fonts/arial_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebasregular';
    src: local('Bebas'),
         url('../fonts/bebas.ttf') format('truetype'),
         url('../fonts/bebas___-webfont.woff2') format('woff2'),
         url('../fonts/bebas___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque';
    src: local('Brandon_Grotesque'), local('brandon-grotesque'), 
         url('../fonts/brandon-bld.otf') format("opentype"),
         url('../fonts/brandon-bld.ttf') format('truetype'),
         url('../fonts/brandon_bld-webfont.woff2') format('woff2'),
         url('../fonts/brandon_bld-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque';
    src: local('Brandon_Grotesque'), local('brandon-grotesque'), 
         url('../fonts/brandon_blk.otf') format("opentype"),
         url('../fonts/brandon_blk.ttf') format('truetype'),
         url('../fonts/brandon_blk-webfont.woff2') format('woff2'),
         url('../fonts/brandon_blk-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque';
    src: local('Brandon_Grotesque'), local('brandon-grotesque'),
        url('../fonts/brandon_light.otf') format("opentype"), 
        url('../fonts/brandon_light.ttf') format('truetype'),
        url('../fonts/brandon_light-webfont.woff2') format('woff2'),
        url('../fonts/brandon_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque';
    src: local('Brandon_Grotesque'), local('brandon-grotesque'), 
         url('../fonts/brandon_reg.otf') format("opentype"),
         url('../fonts/brandon_reg.ttf') format('truetype'),
         url('../fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('../fonts/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*VAG ROUNDED STD FONT

@font-face {
    font-family: 'Vag Rounded Std';
    src: local('Vag Rounded Std'), local('Vag-Rounded-Std'), url('assets/fonts/vagroundedstd-bold.otf') format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: 'Vag Rounded Std';
    src: local('Vag Rounded Std'), local('Vag-Rounded-Std'), url('assets/fonts/vagroundedstd-light.otf') format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Vag Rounded Std Thin';
    src: local('Vag Rounded Std Thin'), local('Vag-Rounded-Std-Thin'), url('assets/fonts/vagroundedstd-thin.otf') format("opentype");
    font-weight: normal;
}*/
