@font-face {
    font-family: 'NB International Pro';
    src: local('NB International Pro'),
         url('../fonts/nbinternationalpro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NB International Pro Light';
    src: local('NB International Pro Light'),
         url('../fonts/nbinternationalpro-light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}


//MONOSPACED
/*@font-face {
    font-family: 'NB International Pro Mono';
    src: local('NB International Pro Mono'),
         url('../fonts/nbinternationalpro-monospaced.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

//FUENTE TITULOS
@font-face {
    font-family: 'Champagne & Limousines';
    src: local('Champagne & Limousines'),
         url('../fonts/champagne&limousines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne & Limousines Italic';
    src: local('Champagne & Limousines Italic'),
         url('../fonts/champagne&limousinesitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Champagne & Limousines Bold';
    src: local('Champagne & Limousines Bold Italic'),
         url('../fonts/champagne&limousinesbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne & Limousines Bold Italic';
    src: local('Champagne & Limousines Bold Italic'),
         url('../fonts/champagne&limousines-bold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


//FUENTE SEGUNDA
/*@font-face {
    font-family: 'Myriad Pro';
    src: local('Myriad Pro'),
         url('../fonts/myriadpro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/