footer {
    position: relative;
}

#socios {
    position: relative;
    padding: 80px 0 100px;
    img {
        display: block;
        width: 80%;
        margin: 50px auto 50px;
        @media (min-width: $xs) {
            width: 60%;
        }
    }
}

.go-up {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../images/sprite.png) no-repeat;
    background-position: -61px -145px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    &:hover {
        background-position: -111px -145px;
    }
}

#legales {
    padding: 20px 0;
    color: $color-blanco;
    background-color: $color-gris-oscuro;
    img {
        display: block;
        width: 70%;
        margin: 0px auto;
        @media (min-width: $xs) {
            width: 50%;
            max-width: 255px;
        }
        @media (min-width: $md) {
            width: 30%;
            
        }
    }   
    p {
        font-family: $fuente-titulos-bold;
        margin: 15px 0;
        font-size: 80%;
        text-align: center;
        letter-spacing: .5px;
        @media (min-width: $xs) {
            font-size: 90%;
            letter-spacing: .5px;
        }
        @media (min-width: $md) {
            font-size: 100%;
            letter-spacing: .5px;
        }
    }
}


//hit legales
.hit-legales{
    color:$color-blanco;
    background-color: #292929;
    text-align: center;
    font-size: 100%;
    padding: 15px 0;
    
    a {
        position: relative;
        img {
            vertical-align: bottom;
                width: 20px;
            @media (max-width: $md) {
                width: 30px;        
            }
        }
        
        &:hover {
            &:before {
                @media (min-width: $md) {
                content: "Design and development";
                position: absolute;
                text-transform: uppercase;
                display: inline-block;
                line-height: 170%;
                    left: -265px;
                    top: -6px;
                    width: 268px;
                    font-size: 85%;
                }
            }
        &:after {
                @media (min-width: $md) {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    font-size: 100%;
                    background: url(../images/logo-hit-fuente.png) no-repeat;
                    background-size: cover;
                    top: -3px;
                    right: -50px;
                    width: 29px;
                    height: 16px;
                }
            }
        }//cierra hover
        
        &:before {
            content: "Design and development";
            position: absolute;
            text-transform: uppercase;
            display: inline-block;
            left: -177px;
            top: -8px;
            width: 196px;
            font-size: 60%;
            line-height: 170%;
            opacity: 0.7;
            @media (min-width: $sm) {
                left: -243px;
                width: 228px;
                opacity: 1;
            }
            @media (min-width: $md) {
                content: none;
            }
        }       
        &:after {
            display: inline-block;
            position: absolute;
            content: "";
            top: -9px;
            right: -53px;
            width: 32px;
            height: 15px;
            font-size: 100%;
            background: url(../images/logo-hit-fuente.png) no-repeat;
            background-size: cover;
            opacity: 0.8;
            @media (min-width: $sm) {
                top: -5px;
                right: -66px;
                width: 36px;
                height: 18px;
            }
            @media (min-width: $md) {
                content: none;
            }
        }
        
    }//cierra a
}//cierre hit-legales