/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 INICIO
- general
- nosotros
- sociales
- video
- contacto
2.0 MENOS 18
3.0 MAS 18
--------------------------------------------------------------*/
.col-flex {
	@media (min-width: $md) {
		display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	>div {
		width: 100%;
		@media (min-width: $md) {
			width: 50%;
		}
	}
}

.col-flex-inverse {
	@media (min-width: $md) {
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
}

.section-title {
	font-family: $fuente-titulos;
	font-size: 200%;
	line-height: 110%;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 30px;
}

.section-title-reverse {
	text-align: right;
}

.section-sub-title {
	font-size: 100%;
	line-height: 110%;
	margin-top: 10px;
	margin-bottom: 30px;
	display: flex;
	display: -o-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-o-align-items: flex-end;
	align-items: flex-end;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	@media (min-width: $xs) {
		font-size: 120%;
	}

	.deco-line {
		display: block;
		background-color: $color-negro;
		height: 1px;
		width: 10%;
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-grow: 1;
		-o-flex-grow: 1;
		flex-grow: 1;
		margin-right: 10px;
		margin-bottom: 2px;
	}
}

.section-sub-title-reverse {
	flex-direction: row-reverse;

	.deco-line {
		margin-right: 0;
		margin-left: 10px;
	}
}

.section-sub-title-short {
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	.deco-line {
		flex-grow: 0;
		width: 350px;
	}
}





/*
 * NOSOTROS
*/
.nosotros-section {
	position: relative;
	z-index: 1;
}

.nosotros-presentación-wrapper {
	margin: 80px 0;
	@media (min-width: $md) {
		margin: 60px 0;
	}
}
.nosotros-presentación {
	padding: 0 20px;

	@media (min-width: $md) {
		padding: 40px 10% 40px 0;		
		margin-top: 80px;
	}

	p {
		text-align: justify;
		line-height: 180%;
		margin-bottom: 20px;

		strong {
			font-weight: 600;
		}
	}
}

.nosotros-content-wrapper {
	overflow: hidden;
	height: 150px;
	margin-bottom: 100px;

	@media (min-width: $md) {
		margin-bottom: 0;
	}

	button {
		position: absolute;
    	bottom: -30px;
		display: block;
		//margin-bottom: 100px;
		cursor: pointer;
		font-family: $fuente-principal-light!important;
		width: 100px;
		height: 30px;
		border: none;
		background-color: $color-amarillo;
		font-size: 130%;
		color: $color-negro;
		margin: 10px 0;
		&:hover {
			color: $color-negro;
			background-color: $color-verde;
		}

		@media (min-width: $sm) {
			bottom: -60px;
			width: 150px;
			height: 40px;
		}
		@media (min-width: $md) {
			bottom: 0;
			width: 100px;
			height: 30px;
		}
		@media (min-width: $lg) {
			bottom: 60px;
		}

		@media (min-width: 1400px) {
			bottom: 100px;
		}

		@media (min-width: 1800px) {
			bottom: 180px;
		}
	}
}

.nosotros-content {	
}

.image-presentacion {
	margin: 30px 0;
	width: 100%;
	overflow: hidden;
	img {
		width: 120%;
		position: relative;
		left: -10px;

		@media (min-width: $md) {
			width: 100%;
			left: 0px;			
		}
	}
}
//este contenedor sirve solo para posicionar los decorados
.nosotros-equipo-decos-wrapper {
	position: relative;
}

.nosotros-equipo-wrapper {
	position: relative;
	margin: 50px 0;
	background-color: $color-verde;
	padding: 70px 0;
	@include clip-path(polygon(0% 3%, 100% 0%, 100% 100%, 0% 99%));

	@media (min-width: $md) {
		padding: 110px 0;
		@include clip-path(polygon(0% 20%, 100% 0%, 100% 100%, 0% 90%));
	}

	@media (min-width: $lg) {
		@include clip-path(polygon(0% 15%, 100% 0%, 100% 100%, 0% 90%));
	}
}

.nosotros-equipo {
	position: relative;
	padding: 0 20px;
	display: flex;
	display: -o-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	-o-flex-direction:column;
	flex-direction:column;


	@media (min-width: $md) {
		padding: 0 50px;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: flex-end;
		-moz-align-items: flex-end;
		-ms-align-items: flex-end;
		-o-align-items: flex-end;
		align-items: flex-end;
	}

	li {
		margin: 30px 0;
		position: relative;
		z-index: 1;
		@media (min-width: $md) {
			min-width: 94px;
		}
	}
}

.nosotros-equipo-item {
	position: relative;
	z-index: 0;

	h1 {
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
	}

	img {
		margin: 30px auto;
    	display: block;
    	cursor: pointer;
	}
}

.toogle-icons-contenidos {
	display: block;
	position: relative;
	z-index: 1;

	&:hover {
		zoom: 1;
	    filter: alpha(opacity=70);
	    opacity: 0.7;
	}
}

.nosotros-equipo-content {
	height: 0;
	overflow: hidden;
	display: flex;
	display: -o-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	-o-flex-direction:column;
	flex-direction:column;

	@media (min-width: $md) {
		-webkit-align-items: flex-start;
		-moz-align-items: flex-start;
		-ms-align-items: flex-start;
		-o-align-items: flex-start;
		align-items: flex-start;
		-webkit-flex-direction:row;
		-moz-flex-direction:row;
		-ms-flex-direction:row;
		-o-flex-direction:row;
		flex-direction:row;
		margin: 20px 0;
	}

	> img {
		display: block;
		width: 100%;
		margin: 40px 0;
		@media (min-width: $md) {
			width: 50%;
			margin: 0px auto;
			padding-right: 5%;
		}
	}

	> div {
		@media (min-width: $md) {
			padding-left: 10%;
		}
	}

	h2 {
		font-weight:bold;
		margin-bottom: 10px;
	}

	p {
		text-align: justify;
		margin-bottom: 20pX;
	}

	ul {
		padding-left: 30px;

		li {
			list-style: disc;
		}
	}
	
}

.equipo-item-active {
	display: block;
	width: 0px;
	height: 0px;
	position: absolute;
    top: -25px;
    left: 135px;
	z-index: 0;
    border-top: 50px solid transparent;
    border-right: 70px solid $color-amarillo;
    border-bottom: 50px solid transparent;
    display: none;
    @media (min-width: $sm) {
    	top: 7px;
    	left: 345px;
		border-top: 40px solid transparent;
	    border-right: 60px solid $color-amarillo;
	    border-bottom: 40px solid transparent;
	}
    @media (min-width: $md) {
    	display: block;
    	top: 87px;
    	left: -10000px;
		border-top: 40px solid transparent;
	    border-right: 60px solid $color-amarillo;
	    border-bottom: 40px solid transparent;
	}
}
//decos
%deco-objet {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
}

.nosotros-deco-sup {
	@extend %deco-objet;
	z-index: 1;
	width: 110px;
	height: 110px;
	left: 20px;
	top: -20px;
	background: url(../images/deco-points-dashes.png) no-repeat;
	background-size: contain;
	@media (min-width: $sm) {
	    width: 150px;
	    height: 150px;
	}

	@media (min-width: $md) {
	    width: 150px;
	    height: 150px;
	    left: 30px;
	    top: 10px;
	}
}

.nosotros-deco-middle {
	@extend %deco-objet;
	display: none;

	@media (min-width: $md) {
		z-index: 1;
		background: url(../images/deco-circle-yellow.png) no-repeat;
		background-size: contain;
		display: block;
		width: 130px;
		height: 130px;
		left: 30px;
		bottom: 0;
	}
}

.nosotros-deco-bottom {
	@extend %deco-objet;
	width: 100px;
	height: 100px;
	right: 0;
	bottom: 0;
	background: url(../images/deco-white-stripes.png) no-repeat;
	background-size: contain;

	@media (min-width: $sm) {
	    width: 150px;
	    height: 150px;
	}

	@media (min-width: $md) {
		width: 150px;
		height: 150px;
		right: 0;
		bottom: 0;
	}
}

//.NOSOTROS

/*
 * SOCIALES
*/

.sociales-section {
	margin: 80px 0;
	padding: 0 20px;

	@media (min-width: $md) {
		padding: 0;
	}
}

.link-instagram {
	position: relative;
	display: block;
	
	&:before {
		content: '';
		display: block;
		position: absolute;
		right: 5px;
		top: -20px;
		border-top: 30px solid transparent;
    	border-right: 40px solid $color-amarillo;
    	border-bottom: 20px solid transparent;
    	@include transform(rotate(-3deg));
    	@media (min-width: $sm) {
    		top: -30px;
			border-top: 30px solid transparent;
	    	border-right: 50px solid $color-amarillo;
	    	border-bottom: 30px solid transparent;
		}
		
	}
}

.titulo-icon {
	font-family: $fuente-titulos;
	font-size: 200%;
	line-height: 110%;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 30px;

	&:before {
		content: '';
		display: inline-block;
		background: url(../images/sprite.png) no-repeat;
		vertical-align: bottom;
	}
}
.titulo-icon-instagram {

	&:before {
		width: 35px;
		height: 35px;
		background-position: -175px -150px;
	}

	&:hover {
		&:before {
			background-position: -242px -150px;
		}
	}
}

.sociales-wrapper {}

//sociales

/*
 * VIDEO
*/
.video-section {
	position: relative;
	z-index: 1;
	margin: 80px 0 0;
	
	/*@include clip-path(polygon(0% 5%, 100% 0%, 100% 100%, 0% 97%));

	@media (min-width: $md) {
		@include clip-path(polygon(0% 20%, 100% 0%, 100% 100%, 0% 95%));
	}
	@media (min-width: $lg) {
		@include clip-path(polygon(0% 15%, 100% 0%, 100% 100%, 0% 95%));
	}*/
}

.video-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 0;
	height: 376px;

	@include clip-path(polygon(0% 5%, 100% 0%, 100% 100%, 0% 97%));

	@media (min-width: $sm) {
		height: 638px;
	}

	@media (min-width: $md) {
		height: 545px;
		@include clip-path(polygon(0% 20%, 100% 0%, 100% 100%, 0% 95%));
	}

	@media (min-width: $lg) {
		height: 665px;
		@include clip-path(polygon(0% 15%, 100% 0%, 100% 100%, 0% 95%));
	}

	@media (min-width: $xlg) {
		height: 900px;
	}
	
	.image-ref-video {
		position: absolute;
		z-index: 0;
		width: 200%;
		left: 50%;
		top: -50px;
		@include transform(translateX(-50%)); 
		@media (min-width: $sm) {
			width: 150%;
			top: -130px;
		}
		@media (min-width: $md) {
			width: 100%;
		}
	}

	.pink-mask {
		position: absolute;
		z-index: 1;
		height: 100%;
	    width: 100%;
	    background-color: $color-rosa-transparente;
	    mix-blend-mode: multiply;
	}

	.button-play-wrapper {
		position: absolute;
		z-index: 2;
		height: 100%;
		width: 100%;
	}

	.button-play {
		cursor: pointer;
		position: absolute;
		height: 46px;
		width: 46px;
		top: 50%;
		left: 45%;
		@include transform(translateX(-50%));
		@include transform(translateY(-50%));
		background: url(../images/sprite.png) no-repeat;		
		background-position: -300px -137px;
		&:hover  {
			background-position: -362px -137px;
		}

		@media (min-width: $sm) {
			height: 100px;
			width: 100px;
			top: 50%;
			left: 45%;
			background-position: -43px -198px;
			&:hover  {
				background-position: -161px -198px;
			}
		}
	}
}//.video-wrapper

.video-deco-bottom {
	@extend %deco-objet;
	z-index: 1;
	width: 80px;
	height: 80px;
	left: 10px;
	bottom: -40px;
	background: url(../images/deco-triangle-green.png) no-repeat;
	background-size: contain;
	@media (min-width: $sm) {
	    width: 100px;
	    height: 100px;
	}

	@media (min-width: $md) {
	    width: 100px;
	    height: 100px;
	    left: 50px;
	    bottom: -30px;
	}
}


/*
 * CONTACTO
*/
.contact-section {
	position: relative;
	z-index: 0;
	background-color: $color-gris-claro;
	margin-top: -30px;
	padding: 100px 20px;
	@include clip-path(polygon(0% 0%, 100% 0%, 100% 99%, 0% 100%));

    @media (min-width: $xs) {
        padding: 100px 25px;
    }
	@media (min-width: $md) {		
		padding: 80px 0;
	}

	@media (min-width: $lg) {		
		padding: 120px 0;
		margin-top: -60px;
		@include clip-path(polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%));
	}

	@media (min-width: $xlg) {		
		padding: 120px 0;
		margin-top: -60px;
	}
}

//sección de contacto en tours
.contact-section-tours {
	margin-top: 50px;
	padding: 90px 20px 50px;
	@include clip-path(polygon(0% 0%, 100% 2%, 100% 98%, 0% 100%));

	@media (min-width: $md) {		
		margin-top: 80px;
		@include clip-path(polygon(0% 0%, 100% 5%, 100% 95%, 0% 100%));
	}
	@media (min-width: $lg) {		
		@include clip-path(polygon(0% 0%, 100% 10%, 100% 95%, 0% 100%));
	}
	@media (min-width: $xlg) {		
		@include clip-path(polygon(0% 0%, 100% 8%, 100% 93%, 0% 100%));
	}
}

//imagen de valijas
.image-form {
	position: relative;
	@media (min-width: $md) {
		padding: 5%;
	}
	@media (min-width: $xlg) {
		padding: 5% 10% 5%;
	}
}

.form-deco-top {
	@extend %deco-objet;
	display: none;
	width: 100px;
	height: 100px;
	left: 0;
	top: 0;
	background: url(../images/deco-white-stripes.png) no-repeat;
	background-size: contain;
	@include transform(rotate(180deg));

	@media (min-width: $sm) {
	    width: 150px;
	    height: 150px;
	}

	@media (min-width: $md) {
		display: block;
		width: 150px;
		height: 150px;
		right: 0;
		bottom: 0;
	}
}

.form-deco-bottom {
	@extend %deco-objet;
	z-index: 1;
	width: 80px;
	height: 80px;
	left: 10px;
	bottom: -20px;
	background: url(../images/deco-triangle-green.png) no-repeat;
	background-size: contain;
	@media (min-width: $sm) {
	    width: 120px;
	    height: 120px;
	    left: 40px;
		bottom: 0;
	}

	@media (min-width: $md) {
	    display: none;
	}
}

//mapa google
.mapa-wrapper {
	padding: 40px 20px 40px 0;
	
	@media (min-width: $md) {
		margin-top: 50px;
	}

	.iframe-google {
		@include box-shadow(20px 20px 1px rgba(0,0,0,0.5));
		height: 300px;
		@media (min-width: $sm) {
			height: 500px;
		}
		@media (min-width: $md) {
			height: 450px;
		}
	}
}

.titulo-formulario-tours {
	position: relative;
	font-family: $fuente-titulos;
	font-size: 175%;
	line-height: 110%;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 40px;
	@media (min-width: $xs) {
		font-size: 200%;
	}

	&:before {
		z-index: 0;
		content: '';
	    position: absolute;
	    border-top: 40px solid transparent;
	    border-right: 80px solid $color-amarillo;
	    border-bottom: 60px solid transparent;
	    top: -40px;
	    right: 0;
	    @media (min-width: $xs) {
	    	right: initial;
			left: 35%;
		}
	    @media (min-width: $sm) {
			left: 35%;
		}
		@media (min-width: $md) {
			left: 48%;
		}
		@media (min-width: $lg) {
			left: 42%;
			top: -60px;
			border-top: 70px solid transparent;
		    border-right: 100px solid $color-amarillo;
		    border-bottom: 50px solid transparent;
		}
		@media (min-width: $xlg) {
			left: 35%;
		}
	}

	span {
		position: relative;
		z-index: 1;
	}
}

.form-wrapper {
	@media (min-width: $md) {
		padding: 20px 0 40px 10%;
	}

	ul {
		li {
			margin-bottom: 10px;
			h6 {
				font-size: 90%;
				line-height: 200%;
				font-weight: 600;
			}
			p, address {
				font-size: 80%;
				line-height: 180%;
				@media (min-width: $md) {
					display: inline;
					font-size: 80%;
					line-height: 200%;
				}
			}		
		}
	}
	
}

.form-wrapper-tours {
	@media (min-width: $md) {
		padding: 20px 0;
	}
}

.formulario {
	font-family: $fuente-principal!important;
	label {
		display: none;
	}

	.form-group {
		margin: 20px auto;

		input, textarea {
			width: 100%;
			display: block;
			height: 30px;
			padding: 5px 10px;
			border: 1px solid $color-negro;
		}

		textarea {
			height: 80px;
		}
	}

	.form-group-col-2 {
		margin: 20px 0;
		display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
		-webkit-align-items: flex-end;
		-moz-align-items: flex-end;
		-ms-align-items: flex-end;
		-o-align-items: flex-end;
		align-items: flex-end;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
	}

	.btn-form {
		cursor: pointer;
		font-family: $fuente-principal-light!important;
		width: 100px;
		height: 30px;
		border: none;
		background-color: $color-amarillo;
		font-size: 130%;
		color: $color-negro;
		margin: 10px 0;
		&:hover {
			color: $color-negro;
			background-color: $color-verde;
		}

		@media (min-width: $sm) {
			width: 150px;
			height: 40px;
		}
		@media (min-width: $md) {
			width: 100px;
			height: 30px;
		}
	}

	.url-form {
		margin: 10px 15px;
		color: $color-rosa;
		font-size: 90%;
		vertical-align: middle;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	    color: $color-negro;
	    font-family: $fuente-principal!important;
	}
	::-moz-placeholder { /* Firefox 19+ */
	    color: $color-negro;
	    font-family: $fuente-principal!important;
	}
	:-ms-input-placeholder { /* IE 10+ */
	    color: $color-negro;
	    font-family: $fuente-principal!important;
	}
	:-moz-placeholder { /* Firefox 18- */
	    color: $color-negro;
	    font-family: $fuente-principal!important;
	}

}//formulario

/*
2.0 MENOS 18
*/

.lugar-section {
	margin: 50px 0;
	position: relative;
}

.paquetes-wrapper {}

.paquetes-menos18 {//ul
	margin: 50px 0;

	@media (min-width: $md) {
		position: relative;
		height: 800px;
		display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
	    display: flex;
	    -webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
    	flex-wrap: wrap;
    	-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
    	justify-content: center;
    	-webkit-align-items: flex-start;
		-moz-align-items: flex-start;
		-ms-align-items: flex-start;
		-o-align-items: flex-start;
    	align-items: flex-start;
	}

	> li {
		width: 100%;
		margin: 20px 0;

		@media (min-width: $md) {
			margin: 0;
			//float: left;
			width: 300px;//medida relativa para que muestre algo
			height: 300px;//medida relativa para que muestre algo

		}
	}
}

.deco-paquetes-top-right {
	@media (min-width: $md) {
		position: absolute;
		z-index: 1;
	    width: 80px;
	    height: 80px;
	    right: -30px;
	    top: -40px;
	    background: url(../images/deco-triangle-green.png) no-repeat;
	    background-size: contain;
	}
}

//esto es para los navegadores que no soportan grid
.paquetes-columns {//ul
	display: block;
	column-count: 2;
	column-gap: 0;
	li {
		overflow: hidden;
		width: 100%;
		height: auto;
		@media (min-width: $md) {
			height: 340px;
		}
		@media (min-width: $lg) {
			height: 450px;
		}
		
		.paquete-imagen {
			width: 120%;
			@media (min-width: $md) {
				width: 130%;
			}
			@media (min-width: $lg) {
				width: 150%;
			}
			@media (min-width: 1280px) {
				width: 140%;
			}
			@media (min-width: 1320px) {
				width: 132%;
			}
			@media (min-width: 1366px) {
				width: 127%;
			}
			@media (min-width: $xlg) {
				width: 105%;
			}
		}
	}
}

.paquete-menos18 { //article
	position: relative;
	height: 250px;
	cursor: pointer;
	@media (min-width: 400px) {
		height: 300px;
	}
	@media (min-width: $xs) {
		height: 450px;
	}
	@media (min-width: $sm) {
		height: 550px;
	}
	@media (min-width: $md) {
	    height: 100%;
    	width: 100%;
	}

	.paquete-imagen {
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		height: 100%;

		img {
			width: 100%;
		}
	}
	.paquete-hover {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-verde-transparente;
		opacity: 0;

		@media (min-width: $md) {
			opacity: 1;
			display: none;	
		}
	}

	.paquete-resumen {
		position: absolute;
		z-index: 111;
		bottom: 10px;
		left: 0;
		width: 90%;
		background-color: $color-blanco-transparente;
		font-size: 75%;
    	line-height: 150%;
    	padding: 10px 20px;

    	@media (min-width: $md) {
			bottom: 20px;
		}

    	&:before {
		    content: '';
			border-top: 30px transparent solid;
			border-right: 50px #45dacc solid;
			border-bottom: 50px transparent solid;
			left: 0px;
			top: 5%;
			position: absolute;
			z-index: 0;
			@include transform(translateY(-10%));

			@media (min-width: $md) {
				left: -20px;
			}
    	}
    	h2 {
    		position: relative;
    		z-index: 1;
    		text-transform: uppercase;
    		font-size: 110%;
    		font-weight: 600;
    		padding-left: 15px;
    		margin-bottom: 5px;
    	}

    	p {
    		position: relative;
    		z-index: 1;
    	}
	}

	.paquete-botones { //ul
		position: absolute;
		z-index: 111;
		top: 10px;
		right: 10px;
		width: 100%;
		height: 200px;

		@media (min-width: $md) {
			left: 85%;
			font-size: 80%;
			width: 160px;
			height: 130px;			
		}

		> li {
			margin: 10px 0;

			> a, button {
				position: relative;
				display: block;
				text-align: right;
				width: 100%;
				height: 23px;
				cursor: pointer;

				@media (min-width: $md) {
					text-align: left;
				}

				> span {
					display: inline-block;
					padding: 3px 5px;
				}

				.icon-paquete-boton {
					position: absolute;
					right: 0;
					top: 0;
					display: block;
					width: 23px;
					height: 23px;
					background: $color-blanco-transparente url(../images/sprite.png);
					@media (min-width: $md) {
						left: 0;
					}
				}

				.texto-paquete-btn {
					padding: 0px 7px;
					display: inline-block;
					margin-right: 30px;
					background: $color-blanco-transparente;
					&:after {
						content: '';
						border-left: 5px $color-blanco-transparente solid;
						border-bottom: 5px transparent solid;
						border-top: 5px transparent solid;
						position: absolute;
						right: 25px;
						top:5px;
					}

					@media (min-width: $md) {
						margin-right: 0px;
						margin-left: 30px;
						&:before {
							content: '';
							border-right: 5px $color-blanco-transparente solid;
							border-bottom: 5px transparent solid;
							border-top: 5px transparent solid;
							position: absolute;
							left: 25px;
							top:5px;
						}
						&:after {
							content: none;
						}
					}
				}

				&:hover {
					.icon-paquete-boton {
						background: $color-amarillo-menu-semi-transparente url(../images/sprite.png);
					}
				}		
				
			}//a, button
		}
	}//.paquete-botones

	//contenedor mas info
	.paquete-info {
		display: none;
	}

	//esto no se muestra, solo sirve para listar los archivos de la galeria y tenerlo guardado
	.paquete-lista-imagenes {
		display: none;
	}
}//.paquete (article)

//iconos paquetes:
.icon-paquete-boton-pdf {
	background-position: -283px -33px!important;
}
.icon-paquete-boton-info {
	background-position: -326px -33px!important;
}
.icon-paquete-boton-galeria {
	background-position: -373px -33px!important;
}

//background de galeria y mas info
.background-more-info {
	display: none;
	position: absolute;
	z-index: 11;
	background: $color-blanco;
	width: 100%;
	padding: 0%;
	padding-bottom: 50px;
	@media (min-width: $sm) {
		padding-bottom: 150px;
	}
	@media (min-width: $md) {
		background: $color-blanco-transparente;
		padding: 10%;
		height: 100%;
	}

	.controls {
		.close-control {
			display: none;
			position: absolute;
			z-index: 11;
			cursor: pointer;
			right: 5%;
			top: 0%;
			width: 40px;
			height: 50px;
			background: url(../images/sprite.png) no-repeat;
			background-position: -277px -209px;
			@media (min-width: $md) {
				right: 10%;
				top: 2%;
			}

			&:hover {
				background-position: -277px -258px;
			}
		}

		.left-control {
			display: none;
			position: absolute;
			z-index: 11;
			cursor: pointer;
			left: 5%;
			top: 50%;
			@include transform(translateY(-50%));
			width: 40px;
			height: 40px;
			background: url(../images/sprite.png) no-repeat;
			background-position: -370px -209px;
			@media (min-width: $md) {
				left: 10%;
			}

			&:hover {
				background-position: -370px -258px;
			}
		}

		.right-control {
			display: none;
			position: absolute;
			z-index: 11;
			cursor: pointer;
			right: 10%;
			top: 50%;
			@include transform(translateY(-50%));
			width: 40px;
			height: 40px;
			background: url(../images/sprite.png) no-repeat;
			background-position: -327px -209px;
			@media (min-width: $md) {
				right: 5%;
			}

			&:hover {
				background-position: -327px -258px;
			}
		}

	}

	.paquete-info {
		position:relative;
		display: block;
		padding: 6%;
		max-width: 100%;
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-grow: 1;
		-o-flex-grow: 1;
		flex-grow: 1;
		overflow: hidden;
    	overflow-y: scroll;
    	background: rgba(255,255,255,0.6);

    	@media (min-width: $md) {
    		padding: 0 5%;
    		max-width: 80%;
    	}
    	h1 {
    		margin: 30px 0 10px;
    		position: relative;
    		span {
    			position: relative;
    			z-index: 1;
    		}
    		&:before {
	    		content: '';
	    		position: absolute;
	    		z-index: 0;
	    		left: 0;
	    		top: -30px;
	    		display: block;
			    border-top: 50px solid transparent;
				border-right: 60px solid $color-verde;
				border-bottom: 30px solid transparent;
	    	}
    	}

    	.paquete-info-contenido {
    		margin: 10px 0;
    		padding: 0 20px;
    		
    		h3 {
    			font-weight: 600;
    			font-size: 120%;
    			text-transform: uppercase;
    			line-height: 120%;
    			margin-top: 30px;
    		}

    		p {
    			margin: 10px 0;
    			text-align: justify;

    			a {
    				text-decoration: underline;
    				word-wrap: break-word;
    			}
    		}
    	}
	}
}



/*
3.0 MAS 18
*/

.paquetes-mas18 {//ul
	position: relative;
	li {}
}


.paquete-mas18 {//article

	.galeria-wrapper {
		position: relative;
		margin: 50px 0;
	}

	.detalles-wrapper {
		font-size:  85%;
		@media (min-width: $sm) {
			font-size: 100%;
		}
		@media (min-width: $md) {
			display: flex;
			display: -o-flex;
			display: -ms-flex;
			display: -moz-flex;
			display: -webkit-flex;
			-webkit-justify-content: space-between;
			-moz-justify-content: space-between;
			-ms-justify-content: space-between;
			-o-justify-content: space-between;
			justify-content: space-between;
		}

		.detalle1 {
			margin: 30px auto;
			padding: 15px 10px;
			border: 1px solid $color-gris-claro;
			@media (min-width: $md) {
				width: 38%;
				margin: 0;
			}

			table {
				width: 100%;
				@media (min-width: $lg) {
					font-size: 110%;
				}
				td {
					padding: 5px;
					@media (min-width: $sm) {
						padding: 15px 5px;
					}
				}

				td.color-destacado {
					color: $color-verde;
					width: 63%;
					text-transform: uppercase;
					border-right: 1px solid $color-gris-claro;
					@media (min-width: $sm) {
						width: 60%;
					}
				}

				td.info {
					width: 37%;
					padding-left: 7%;
					@media (min-width: $sm) {
						width: 40%;
					}
				}
			}
		}//.detalle1

		.detalle2 {
			margin: 30px auto;
			padding: 15px 15px;
			border: 1px solid $color-gris-claro;
			@media (min-width: $md) {
				width: 58%;
				margin: 0;
				padding: 10px 25px;
			}

			h1 {
				text-transform: uppercase;
				font-family: $fuente-titulos;
				font-size: 200%;
				margin: 20px auto;
				@media (min-width: $md) {
					margin: 0px auto 30px;
				}
			}

			h5 {
				margin: 20px 0;
			}

			.detalle-header {
				@media (min-width: $md) {
					display: flex;
					display: -o-flex;
					display: -ms-flex;
					display: -moz-flex;
					display: -webkit-flex;
					-webkit-align-items: center;
					-moz-align-items: center;
					-ms-align-items: center;
					-o-align-items: center;
					align-items: center;
					-webkit-justify-content: space-between;
					-moz-justify-content: space-between;
					-ms-justify-content: space-between;
					-o-justify-content: space-between;
					justify-content: space-between;
					border-bottom: 1px solid $color-gris-claro;
					padding: 10px 0;
				}
			}

			.precio-archivo {
				display: flex;
				display: -o-flex;
				display: -ms-flex;
				display: -moz-flex;
				display: -webkit-flex;
				-webkit-align-items: baseline;
				-moz-align-items: baseline;
				-ms-align-items: baseline;
				-o-align-items: baseline;
				align-items: baseline;
				-webkit-justify-content: space-between;
				-moz-justify-content: space-between;
				-ms-justify-content: space-between;
				-o-justify-content: space-between;
				justify-content: space-between;
				margin: 20px 0;
				@media (min-width: $md) {
					-webkit-flex-direction: column-reverse;
					-moz-flex-direction: column-reverse;
					-ms-flex-direction: column-reverse;
					-o-flex-direction: column-reverse;
					flex-direction: column-reverse;
					-webkit-align-items: flex-end;
					-moz-align-items: flex-end;
					-ms-align-items: flex-end;
					-o-align-items: flex-end;
					align-items: flex-end;
					margin: 0px 0 10px;
				}

				a {
					padding:5px 10px;
					height: 30px;
					background-color: $color-amarillo;
					@media (min-width: $md) {
						margin-top: 20px;
					}
				}

				h4 {
					height: 30px;
					color: $color-verde;
					text-transform: uppercase;
					font-size:160%; 
					line-height: 200%;
				}
			}
		}//.detalle2

		.aereos-wrapper {
			font-size: 85%;
			@media (min-width: $sm) {
				font-size: 100%;
			}
			@media (min-width: $md) {
				display: flex;
				display: -o-flex;
				display: -ms-flex;
				display: -moz-flex;
				display: -webkit-flex;
				-webkit-align-items: center;
				-moz-align-items: center;
				-ms-align-items: center;
				-o-align-items: center;
				align-items: center;
				-webkit-justify-content: space-between;
				-moz-justify-content: space-between;
				-ms-justify-content: space-between;
				-o-justify-content: space-between;
				justify-content: space-between;
				-webkit-flex-wrap: wrap;
				-moz-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				-o-flex-wrap: wrap;
				flex-wrap: wrap;
				font-size: 90%;
			}
			@media (min-width: $lg) {
				font-size: 95%;
			}
			@media (min-width: $xlg) {
				font-size: 100%;
			}

			.separador-horizontal {
				display: none;
				@media (min-width: $md) {
					display: block;
					width: 100%;
					background-color: $color-gris-claro;
					height: 1px;
					margin: 0 2%;
				}
			}
			

			.viaje {
				border-top: 1px solid $color-gris-claro;
				border-bottom: 1px solid $color-gris-claro;
				text-align: center;
				padding: 20px 0;
				display: flex;
				display: -o-flex;
				display: -ms-flex;
				display: -moz-flex;
				display: -webkit-flex;
				-webkit-align-items: center;
				-moz-align-items: center;
				-ms-align-items: center;
				-o-align-items: center;
				align-items: center;
				-webkit-justify-content: space-around;
				-moz-justify-content: space-around;
				-ms-justify-content: space-around;
				-o-justify-content: space-around;
				justify-content: space-around;
				@media (min-width: $sm) {
					padding: 40px 0;
					-webkit-justify-content: space-evenly;
					-moz-justify-content: space-evenly;
					-ms-justify-content: space-evenly;
					-o-justify-content: space-evenly;
					justify-content: space-evenly;
				}
				@media (min-width: $md) {
					padding: 15px 0;
					width: 37%;
					border: none;
					-webkit-flex-direction: column;
					-moz-flex-direction: column;
					-ms-flex-direction: column;
					-o-flex-direction: column;
					flex-direction: column;
					border-right: 1px solid $color-gris-claro;
					padding-right: 30px;
					-webkit-align-items: flex-start;
					-moz-align-items: flex-start;
					-ms-align-items: flex-start;
					-o-align-items: flex-start;
					align-items: flex-start;
					line-height: 150%;
				}
			}

			.avion {
				padding: 20px 0;
				display: flex;
				display: -o-flex;
				display: -ms-flex;
				display: -moz-flex;
				display: -webkit-flex;
				-webkit-align-items: center;
				-moz-align-items: center;
				-ms-align-items: center;
				-o-align-items: center;
				align-items: center;
				-webkit-justify-content: space-around;
				-moz-justify-content: space-around;
				-ms-justify-content: space-around;
				-o-justify-content: space-around;
				justify-content: space-around;

				@media (min-width: $sm) {
					-webkit-justify-content: space-evenly;
					-moz-justify-content: space-evenly;
					-ms-justify-content: space-evenly;
					-o-justify-content: space-evenly;
					justify-content: space-evenly;
				}
				@media (min-width: $md) {
					width: 63%;
					-webkit-justify-content: flex-end;
					-moz-justify-content: flex-end;
					-ms-justify-content: flex-end;
					-o-justify-content: flex-end;
					justify-content: flex-end;
					padding: 15px 0;
					line-height: 150%;
				}

				.salida{ 
					padding-left: 50px;
					position: relative;
					@media (min-width: $md) {
						margin-right: 50px;
					}
				}
				.llegada{ 
					padding-left: 50px;
					position: relative;
				}

				.separador-vertical {
					width: 1px;
					height: 50px;
					background:$color-gris-claro;
					@media (min-width: $md) {
						display: none;
					}
				}
			}
		}
	}//.detalles-wrapper
	.icon-avion-in {
		display: block;
		width: 40px;
		height: 40px;
		left: 0;
		top: 0;
		position: absolute;
		background: url(../images/sprite.png);
		background-position: -331px -77px;
	}

	.icon-avion-out {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		left: 0;
		top: 0;
		background: url(../images/sprite.png);
		background-position: -385px -77px;
	}


	#contenedor-mapa {
		height: 450px;
		margin: 40px 0;
	}

	.info-gral-wrapper {
		margin: 60px 0 30px;
	}

	.contenido-paquete {
		margin-top: 60px;

		h1, h2, h3 {
			margin: 40px 0 20px;
			font-size: 150%;
			line-height: 110%;
			text-transform: uppercase;
			font-family: $fuente-titulos;
		}

		p {
			margin: 10px 0;
		}

		ul {
			padding-left: 20px;
			list-style: disc;
			li {
				padding-left: 20px;
				list-style: disc;
			}
		}

		strong {
			font-weight: bold;
		}
		em  {
			font-style: italic;
		}
	}//.contenido-paquete
}//.paquete-mas18