.social-icon {
    display: inline-block;
    width: 80px;
    height: 65px;
    background: transparent url(../images/sprite.png) no-repeat;
    @media (min-width: $sm) {
        width: 190px;
        height: 160px;
    }
    @media (min-width: $md) {
        width: 30px;
        height: 30px;
    }
}

.social-icon-facebook {
    background-position: -20px -643px;
    @media (min-width: $sm) {
        background-position: -369px -196px;
    }
    @media (min-width: $md) {
        background-position: -20px -23px;
    }
}
.social-icon-twitter {
    background-position: -129px -643px;
    @media (min-width: $sm) {
        background-position: -369px -374px;
    }
    @media (min-width: $md) {
        background-position: -75px -23px;
    }
}
.social-icon-tube {
    background-position: -244px -643px;
    @media (min-width: $sm) {
        background-position: -639px -196px;
    }
    @media (min-width: $md) {
        background-position: -131px -23px;
    }
}
.social-icon-instagram {
    background-position: -359px -643px;
    @media (min-width: $sm) {
        background-position: -639px -391px;
    }
    @media (min-width: $md) {
        background-position: -186px -23px;
    }
}
.social-icon-flickr {
    background-position: -471px -643px;
    @media (min-width: $sm) {
        background-position: -639px -11px;
    }
    @media (min-width: $md) {
        background-position: -242px -23px;
    }
}


.active-page-menu {
    font-weight: $fuente-bold;
    background: rgba(77,50,128,1);/* Old Browsers */
    background: -moz-linear-gradient(left, rgba(77,50,128,1) 0%, rgba(77,50,128,1) 24%, rgba(176,56,128,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,50,128,1)), color-stop(24%, rgba(77,50,128,1)), color-stop(100%, rgba(176,56,128,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(left, rgba(77,50,128,1) 0%, rgba(77,50,128,1) 24%, rgba(176,56,128,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(77,50,128,1) 0%, rgba(77,50,128,1) 24%, rgba(176,56,128,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(77,50,128,1) 0%, rgba(77,50,128,1) 24%, rgba(176,56,128,1) 100%); /* IE 10+ */
    background: linear-gradient(to right, rgba(77,50,128,1) 0%, rgba(77,50,128,1) 24%, rgba(176,56,128,1) 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d3280', endColorstr='#b03880', GradientType=1 );/* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $color-blanco;//es por si no funciona lo demás
}

