.sidebar-wrapper {
	background-color: $color-gris-fondo;
	@include border-radius(20px);
}

.sidebar-title {
	background: $color-violeta;
    color: $color-blanco;
    font-weight: $fuente-light;
    margin-bottom: 30px;
    padding: 15px 5px 90px;
    text-transform: uppercase;
    font-size: 2vw;
    line-height: 110%;
    width: 100%;
    text-align: center;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-bottom-right-radius: 50px;
    -ms-border-bottom-right-radius: 50px;
    -o-border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
    @media (min-width: $xlg) {
    	padding: 15px 5px 120px;
    	-webkit-border-bottom-right-radius: 60px;
	    -moz-border-bottom-right-radius: 60px;
	    -ms-border-bottom-right-radius: 60px;
	    -o-border-bottom-right-radius: 60px;
	    border-bottom-right-radius: 60px;
    }
}

.sidebar-items {
	padding: 20px 20px 60px;

	> li {
		margin: 20px auto;
	}
}

.sidebar-item {
	figure {
		width: 100%!important;
		height: auto;
		overflow: hidden;
		background-color: $color-violeta;
	}
	img {
		display: block;
		height: 100%;
		width: 200%!important;
		-webkit-filter: grayscale(60%);
		-moz-filter: grayscale(60%);
		-ms-filter: grayscale(60%);
		-o-filter: grayscale(60%);
		filter: grayscale(60%);
		-webkit-mix-blend-mode: hard-light;
		-moz-mix-blend-mode: hard-light;
		-ms-mix-blend-mode: hard-light;
		-o-mix-blend-mode: hard-light;
    	mix-blend-mode: hard-light;

	}
}

.data-post-sidebar {
	display: flex;
	display: -o-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;

	p {
		width: 25%;
        text-align: left;
        font-size: 100%;
        font-weight: $fuente-bold;
        color: $color-violeta;
	}

	h1 {
		text-transform: uppercase;
		font-size: 80%;
		padding-left: 10px;
	}
}